<body>
    <div class="main_div">
        <header class="header">
            <h1 class="header__title">Gestion de l'authentification</h1>
            <a href="/"><button class="btn-home">Accueil</button></a>
        </header>