<%- include ('./partials/head.ejs') %>
<body>
    <div class="main_div">
        <header class="header">
            <h1 class="header__title">Gestion de l'authentification</h1>
        </header>
            <main class="main-form">
                <div class= "btn-div">
                    
                    <a href="/signup"><button class="btn">Créer un compte</button></a>
                    <a href="/signin"><button class="btn">Se connecter</button></a>
                </div>
            </main>
    </div>
    
</body>
</html>