<%- include ('./partials/head.ejs') %>
<%- include ('./partials/header.ejs') %>

            <main class="main-form">
                <div class= "btn-div">
                    
                    <a href="/signup"><button class="btn">Créer un compte</button></a>
                    <a href="/signin"><button class="btn">Se connecter</button></a>
                </div>
            </main>
    </div>
    
</body>
</html>