<%- include ('./partials/head.ejs') %>
<%- include ('./partials/header.ejs') %>

            <main class="main-form">
                <div class= "btn-div">
                    
                    <h1>ACCES OK, la navigation peut commencer</h1>
                </div>
            </main>
    </div>
    
</body>
</html>