<%- include ('./partials/head.ejs') %>
<body>
    <div class="main_div">
        <header class="header">
            <h1 class="header__title">Gestion de l'authentification</h1>
        </header>
            <main class="main-form">
                <form action="" method="POST">
                    <label class="form-text" for="">Login</label>
                    <input type="text" name="" id="">
                    <label class="form-text" for="">Password</label>
                    <input type="text" name="" id="">
                    <input class="btn-form" type="button" value="Me connecter">
                </form>
            </main>
    </div>
    
</body>
</html>