<%- include ('./partials/head.ejs') %>
<%- include ('./partials/header.ejs') %>
            <main class="main-form">
                <% if(badFormData) {%>
                    <p class="alert-password">Erreur de formulaire, merci de vérifier vos données</p>
                <%} %>
                <form action="" method="POST">
                    <label class="form-text" for="">Votre prénom</label>
                    <input type="text" name="firstname" id="firstname" required>
                    <label class="form-text" for="">Votre nom</label>
                    <input type="text" name="lastname" id="lastname" required>
                    <label class="form-text" for="">Une adresse email</label>
                    <input type="text" name="email" id="email" required>
                    <label class="form-text" for="">Votre mot de passe</label>
                    <input type="password" name="password" id="password" required>
                    <label class="form-text" for="">Vérification du mot de passe</label>
                    <input type="password" name="checkPassword" id="checkPassword" required>
                    <% if(msgInfo) {%>
                        <p class="alert-password"><%= msgInfo %></p>
                    <%} %>
                    <input class="btn-form" type="submit" value="Créer mon compte">
                </form>
            </main>
    </div>
    
</body>
</html>