<%- include ('./partials/head.ejs') %>
<%- include ('./partials/header.ejs') %>
            <main class="main-form">
                <form action="" method="POST">
                    <label class="form-text" for="">Firstname</label>
                    <input type="text" name="firstname" id="firstname">
                    <label class="form-text" for="">Lastname</label>
                    <input type="text" name="lastname" id="lastname">
                    <label class="form-text" for="">Email</label>
                    <input type="text" name="email" id="email">
                    <label class="form-text" for="">Password</label>
                    <input type="password" name="password" id="password">
                    <input class="btn-form" type="button" value="Créer mon compte">
                </form>
            </main>
    </div>
    
</body>
</html>